<div class="flex flex-col">
  <h1 class="text-center">Notre équipe</h1>
  <div class="flex flex-row justify-center gap-3 my-4">
    <p-card>
      <ng-template pTemplate="header">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="ms-3 mt-3" size="xlarge" />
        <h2>Name</h2>
      </ng-template>
      <p>
        <fa-icon [icon]="faWrench"/>
        Lorem ipsum dolor sit amet...
      </p>
      <ng-template pTemplate="footer">
        <p-rating [stars]="5"/>
      </ng-template>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="ms-3 mt-3" size="xlarge" />
        <h2>Name</h2>
      </ng-template>
      <p>
        <fa-icon [icon]="faShoppingCart"/>
        Lorem ipsum dolor sit amet...
      </p>
      <ng-template pTemplate="footer">
        <p-rating [stars]="5"/>
      </ng-template>
    </p-card>
    <p-card>
      <ng-template pTemplate="header">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="ms-3 mt-3" size="xlarge" />
        <h2>Name</h2>
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
      <ng-template pTemplate="footer">
        <p-rating [stars]="5"/>
      </ng-template>
    </p-card>
  </div>
</div>
